/* CSS declarations go here */
.thumbnail img {
  max-width: 100%;
  height: auto;
  max-height: 300px;
}
.thumbnail {
  max-height: 600px;
}
body {
  padding-top: 50px;
}

@media screen and (min-width: 60em) {
  .col-sm-4:nth-child(3n+1) {
      clear: left;
  }
}