.ui.fixed {
	&.inverted {
		background: $red;
	}
	.main-navigation {
		.user-profile-picture	 {
			margin-right: 10px!important;
		}
	}
}

.currentUser {
	text-transform: capitalize;
}

.ui.dropdown {
	.ui.feed.menu {
		max-height: 350px;
		overflow-y: auto;
		left: auto;
		right: 0;
		>.event {
			padding-left: 1em;
			padding-right: 1em;
			padding-top: .5em;
			&.new {
				background: #E1EFEF;
			}
			&.old {
				background: #fff;
			}
			&:hover {
				background: #F1F7F7;
			}
		}
		

		@media screen and (min-width: 480px) {
			left: 0;
			right: auto;

		}
	}
}

