.ui.fixed {
	&.inverted {
		background: $red;
	}
	.main-navigation {
		.user-profile-picture	 {
			margin-right: 10px!important;
		}
		@media screen and (max-width: 480px) {
			> .item {
				padding-left: 10px;
				padding-right: 10px;
			}
		}
		@media screen and (max-width: 360px) {
			> .item {
				padding-left: 5px;
				padding-right: 5px;
			}
		}
	}

}

.currentUser {
	text-transform: capitalize;
}

.ui.dropdown {
	.ui.feed.menu {
		max-height: 370px;
		overflow-y: auto;
		left: auto;
		right: 0;
		>.event {
			padding-left: 1em;
			padding-right: 1em;
			padding-top: .5em;
			&.new {
				background: #E1EFEF;
			}
			&.old {
				background: #fff;
			}
			&:hover {
				background: #F1F7F7;
			}
		}
		

		@media screen and (min-width: 480px) {
			left: 0;
			right: auto;

		}
	}
}

.show-more.button {
    margin: 10px auto;
    display: block;
    width: 150px;
    text-align: center;
}
