.hidden {
	display: none;
}

.card-image img {
  background: url('images/Preloader_1.gif') no-repeat center center;
  background-size: 16px 16px;
}

.padding-bottom {
	padding-bottom: 15px;
}

.text-center  {
	text-align: center;
}