$blue: #47b8e5;
$green: #67c082;

nav {
  background: $green;
      background: -webkit-gradient(linear, left top, right bottom, from($blue), to($green));
      background: -webkit-linear-gradient(left, $blue, $green);
      background: -moz-linear-gradient(left, $blue, $green);
      background: -ms-linear-gradient(left, $blue, $green);
      background: -o-linear-gradient(left, $blue, $green);
      background: linear-gradient(left, $blue, $green);
      filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='$blue', EndColorStr='$green');
}