$blue: #47b8e5;
$green: #67c082;
body {
  font-family: 'Open Sans', sans-serif;
}

nav {
      background: url("https://d3k90kvix375hb.cloudfront.net/assets/home/hero-background-gradient-dark.png"),url("home/hero-background-gradient-light.png"),-webkit-linear-gradient(top, #58488a, #5d64d0),#58488a fixed;
    background: url("https://d3k90kvix375hb.cloudfront.net/assets/home/hero-background-gradient-dark.png"),url("home/hero-background-gradient-light.png"),linear-gradient(to bottom, #58488a, #5d64d0),#58488a fixed;
}

.upvote {
  padding: 5px;
  cursor: pointer;
}
.downvote {
  padding: 5px;
  cursor: pointer;
}

.logo {
  width: 100px;
  height: auto;
  cursor: pointer;
}

.logo-container {
  margin-right: 15px;
  float: left;
}

.pagination {
  margin: 15px 0;
  li {
    cursor: pointer;
  }
}