@import 'variables';
@import 'components';
@import 'utility';

body {
  font-family: 'Open Sans', sans-serif;
  color: $blue;
}
a {
  color: $green;
}

nav {
      background: url("https://d3k90kvix375hb.cloudfront.net/assets/home/hero-background-gradient-dark.png"),url("home/hero-background-gradient-light.png"),-webkit-linear-gradient(top, #58488a, #5d64d0),#58488a fixed;
    background: url("https://d3k90kvix375hb.cloudfront.net/assets/home/hero-background-gradient-dark.png"),url("home/hero-background-gradient-light.png"),linear-gradient(to bottom, #58488a, #5d64d0),#58488a fixed;
}
.chip {
  margin-bottom: 10px;
}
.upvote {
  padding: 5px;
  cursor: pointer;
}

.card {
  .like {
    &.disabled.inactive {
      cursor: pointer;
    }
  }
}
.downvote {
  padding: 5px;
  cursor: pointer;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
}

.logo {
  width: 100px;
  height: auto;
  cursor: pointer;
}

.postPage .logo {
  width: auto;
  max-height: 300px;
}


.logo-container {
  margin-right: 15px;
  float: left;
}

li.collection-item {
  overflow: hidden;
  clear: both;
}

.pagination {
  margin: 15px 0;
  li {
    cursor: pointer;
    color: $blue;
    &.current {
      font-weight: bold;
      color: $yellow;
    }
  }
}