<template name="hero">
  <br><br>
  <h1 class="header center orange-text">Welcome {{username}}!</h1>
  <div class="row center">
    <h5 class="header col s12 light">Feel free to add some posts</h5>
  </div>
  <div class="row center">
    {{#if currentUser}}
    <span>You are free to add some cool stuff</span>
    <p>...or just view some <a href="/posts">posts</a></p>
    {{else}}
    <span>Please Log in to add an post</span>
    <p>...or just view some <a href="/posts">posts</a></p>
    {{/if}}
  </div>
  <br><br>
</template>
