<template name="addPostPage">
  <div id="addPostPage">
    <div class="row">
        <div class="col s12">
          <h4>Post something</h4>
          <p>Add the url and some description</p>
        </div>
        <form class="col s12 js-add-post">
          <div class="row">
            <div class="input-field col s6">
              <input name="source" type="text" class="validate">
              <label for="first_name">Url:</label>
            </div>
          </div>
          <div class="col s12">
            <input type="submit" value="Save" class="modal-action modal-close btn-flat waves-effect">
          </div>
        </form>
      </div>
    </div>
</template>
<!-- end post add form -->
