<template name="addPostForm">
  <div class="ui centered grid">
    <div class="six wide tablet eight wide computer column">
      <form class="ui form js-add-post" id="addPostForm">
    <!--   <div class="ui top attached tabular menu">
      <a class="item active" data-tab="first">First</a>
      <a class="item" data-tab="second">Second</a>
      </div>
      <div class="ui bottom attached active tab segment" data-tab="first">
        <p>1</p>
        <p>1</p>
      </div>
      <div class="ui bottom attached tab segment" data-tab="second">
        <p>2</p>
        <p>1</p>
      </div> -->
      <div class="field">
        <label>Say something</label>
        <input name="description" type="text" class="validate" placeholder="Something cool">
      </div>
      <div class="field">
      <p class="file">
        <input type="file" class="post-image" name="postImage" id="file" />
        <label for="file">Upload your image</label>
      </p>
      </div>
      <input type="submit" value="Post" class="ui primary button">
    </form>
  </div>
  </div>


    </template>
    <!-- end post add form -->
