<template name="post">
	{{#if Template.subscriptionsReady}}
	{{#with post}}
	<div class="row postPage" id="{{this._id}}">
		<div class="col s12">

		
			<!-- <div class="card center">
				<div class="card-image waves-effect waves-block waves-light">
					<p><a target="_blank" href="{{source}}">{{source}} </a></p>
				</div>
				<div class="card-content">
					<div class="card-title grey-text text-darken-4 clearfix">
						<img src="{{image}}" class="activator logo" alt="">
					</div>
					<br>
					<p>
						<a href="#" class="btn like {{active}}"><i class="material-icons">plus_one</i></a>
					</p>
					<br>
					<p>Likes: {{likes}}</p>
					<p><a href="#" class="btn-flat js-set-post-filter"> {{getUser(addedBy)}}</a></p>
					<p><a class="btn-flat" href="/posts">Back to posts</a></p>
				</div>
				<div class="card-reveal ">
					<span class="card-title grey-text text-darken-4">{{description}}<i class="material-icons right">close</i></span>
					<p>Here is some more information about this product that is only revealed once clicked on.</p>
					<p><a href="#">{{formatDate addedOn}}</a></p>
					<p><a href="#" class="btn js-del-post">Delete this post</a></p>
					<p>Likes: {{likes}}</p>
				</div>
			</div> -->


			<div class="card" id="{{this._id}}">
			 <div class="card-content">
			    <p>
			      <div class="chip">
			        <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAASAAAAAJDkwMmFlMzY3LTc2MzEtNGQ3NS1hMWNmLWM5Yjg0NTk3YTVkMA.jpg" alt="Contact Person">
			        Iustin Nita
			      </div>
			    </p>
			    <p>{{description}}</p>
			  </div>
			  <div class="card-image">
			  <a href="/post/{{_id}}">
			    <img src="{{image}}">
			    </a>
			    <span class="card-title"><span class="btn like {{active}}"><i class="material-icons">thumb_up</i></span></span>
			  </div>
			 
			  <div class="card-action">
			    <a href="{{source}}" class="js-del-post" target="_blank">Delete</a>
			  </div>
			</div>
			{{>comments}}
		</div>
	</div>
	{{/with}}
	{{else}}
	{{>loading}}
	{{/if}}
</template>
