<template name="posts">
{{#if Template.subscriptionsReady}}
    {{#with posts}}
    <div class="ui column">
      {{>addPostForm}}
    </div>
    <div class="ui one column centered grid">
      <div class="column posts-page">
        {{#each posts}}
            <div class="ui link card" id="{{_id}}">
              <div class="content">
                <div class="right floated meta">{{prettydate addedOn live=true}}</div>
                <img class="ui avatar image" src="{{getProfilePic(userId)}}" data-title="Elliot Fu" data-content="Elliot has been a member since July 2012"> {{getUser(userId)}}
              </div>
              {{#if description}}
              <div class="content">
                {{description}}
              </div>
              {{/if}}
              <div class="image">
              
                <img src="{{image}}">
              </div>
              <div class="content">
                <span class="right floated">
                  <i class="heart outline like {{active}} icon"></i>
                  {{likes}} likes
                </span>
                <a href="/post/{{_id}}" class="postLink">
                <i class="comment icon"></i>
                {{commentsCount}} comments
                </a>
              </div>
              <div class="extra content">
                <!-- <div class="ui large transparent left icon input">
                  <i class="heart outline icon"></i>
                  <input type="text" placeholder="Add Comment...">
                </div> -->
                <!-- {{#if comments}} -->
                {{>commentForm}}
                {{#if comments}}
                  <div class="ui comments">
                  <!-- {{#with commentItem}} -->
                    {{#each comments}}
                     {{>commentItem}}
                    {{/each}}
                  <!-- {{/with}} -->
                  </div>
                {{/if}}
              </div>
            </div>
        {{/each}}
        
      </div>
    </div>
  {{/with}}
  {{else}}
  {{>loading}}
{{/if}}
</template>


<!--  <div class="card" id="{{_id}}">
             <div class="card-content">
                <p>
                  <div class="chip">
                    <img src="{{getProfilePic(addedBy)}}" alt="{{getUser(addedBy)}}">
                    {{getUser(addedBy)}}
                  </div>
                </p>
                {{#if description}}
                <p>{{description}}</p>
                {{/if}}
              </div>
              {{#if image}}
              <div class="card-image">
              <a href="/post/{{_id}}">
                <img src="{{image}}">
                </a>
              </div>
              {{/if}}
             
              <div class="card-action">
                <span><a class="like like-button {{active}}"><i class="material-icons">thumb_up</i><span>Like</span> </a></span>
                <span><a href="#" class="js-to-comments">{{likes}} <span>Likes</span></a></span>
                <span><a href="#" class="js-to-comments">{{comments.length}} Comments</a></span>
              </div>
              {{>comments}}
            </div> -->