<template name="posts">
{{#if Template.subscriptionsReady}}
  {{#with posts}}
  <div class="container">
    <div class="row">
      <div class="col s12 center">
        {{#if filtering_posts}}
          <p>Showing content by user {{currentUserFilter}}.</p>
          <a href="#" class="js-unset-post-filter btn btn-primary">Remove filter</a>
        {{/if}}
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        {{> EasySearch.Input index=postsIndex  attributes=inputAttributes}}
        <!-- <div class="autosuggest-component">
          {{> EasySearch.Autosuggest index=postsIndex}}
        </div> -->
      </div>
    </div>
    <div class="row">
      <!-- {{#each posts}} -->
      {{#EasySearch.Each index=postsIndex}}
<!--           <li class="collection-item avatar" id="{{_id}}">
            <a class="pull-left logo-container" href="{{source}}" target="_blank"><img class="logo" src="{{image}}" alt="{{description}}"></a>
            <span class="title"><a href="/post/{{_id}}">{{description}}</a></span>
            <p>
              <a href="#" class="js-set-post-filter"> {{getUser(addedBy)}}</a>
            </p>
            <p>{{formatDate addedOn}} </p>
            <p>Likes: {{ likes }}</p>
            <p>
              <span class="btn like {{active}}"><i class="material-icons">plus_one</i></span>
            </p>
            <a href="/post/{{_id}}" class="secondary-content"><i class="material-icons">send</i></a>
          </li> -->
          <div class="card">
           <div class="card-content">
              <p>{{> avatar user=this shape="circle"}}</p>
              <p>
                <div class="chip">
                  <!-- <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAASAAAAAJDkwMmFlMzY3LTc2MzEtNGQ3NS1hMWNmLWM5Yjg0NTk3YTVkMA.jpg" alt="Contact Person"> -->

                  Iustin Nita
                </div>
              </p>
              <p>{{description}}</p>
            </div>
            <div class="card-image">
            <a href="/post/{{_id}}">
              <img src="{{image}}">
              </a>
              <span class="card-title"><span class="btn like {{active}}"><i class="material-icons">thumb_up</i></span></span>
            </div>
           
            <div class="card-action">
              <a href="/post/{{_id}}" target="_blank">Comment</a>
              <span>{{likes}} Likes</span>
              <span>{{comments.length}} Comments</span>
            </div>
            {{>comments}}
          </div>
      {{/EasySearch.Each}}
      <!-- {{> EasySearch.LoadMore index=postsIndex content="Load more content" class="btn btn-primary"}} -->

      {{> EasySearch.Pagination index=postsIndex maxPages=10}}
      <!-- {{> EasySearch.LoadMore index=postsIndex}} -->

      {{#EasySearch.IfNoResults index=postsIndex}}
    <div class="no-results">No results found!</div>
  {{/EasySearch.IfNoResults}}
    </div> <!-- / row -->
  </div>
  {{/with}}
  {{else}}
  {{>loading}}
{{/if}}
</template>
