<template name="notifications">
<div class="ui simple dropdown item">
  Notifications 
  
  {{#if notificationCount}}<a class="ui teal circular label">{{notificationCount}}</a> {{/if}}
    <div class="ui feed menu">
        {{#each notifications}}
          {{> notificationItem}}
        {{/each}}
      <!-- <div class="divider"></div> -->
      <!-- <a class="item" href="#">Profile</a> -->
      <a href="#" class="ui show-more button primary">Show more</a>
    </div>
   
</div>
</template>

<template name="notificationItem">
<div class="event {{status}}">
  <div class="label"><img src="{{getProfilePic(commenterId)}}" alt="{{getUser(commenterId)}}"></div>
  <div class="content">
    <div class="summary">
      <a href="/user/{{commenterId}}" class="capitalize">{{getUser(commenterId)}}</a> commented on your <a class="notificationLink" href="{{pathFor 'post' _id=postId}}">post</a>
      <div class="date">
        {{prettydate when live=true}}
      </div>
    </div>
    <div class="extra text">
      {{getComment(commentId)}}
    </div>
  </div>
</div>
<!--     <a class="item" href="{{pathFor 'post' _id=postId}}">
      <strong>{{getUser(userId)}}</strong> commented on your post
  </a>  -->
</template>