<template name="userProfile">
{{#if Template.subscriptionsReady}}
	{{#with user}}

	<div class="ui special cards">
  <div class="card">
    <div class="blurring dimmable image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <div class="ui inverted button">Add Friend</div>
          </div>
        </div>
      </div>
      <img src="{{getProfilePic(user._id)}}">
    </div>
    <div class="content">
      <a class="header">Team Fu</a>
      <div class="meta">
        <span class="date">Create in Sep 2014</span>
      </div>
    </div>
    <div class="extra content">
      <a>
        <i class="users icon"></i>
        2 Members
      </a>
    </div>
  </div>
  </div>
		  {{#with posts}}
		  <div class="ui column">
		    {{>addPostForm}}
		  </div>
		  <div class="ui one column centered grid">
		    <div class="column posts-page">
		      {{#each posts}}
		          <div class="ui link card" id="{{_id}}">
		            <div class="content">
		              <div class="right floated meta">{{prettydate addedOn live=true}}</div>
		              <img class="ui avatar image" src="{{getProfilePic(userId)}}" data-title="Elliot Fu" data-content="Elliot has been a member since July 2012"> <span class="capitalize">{{getUser(userId)}}</span>
		            </div>
		            {{#if description}}
		            <div class="content">
		              {{description}}
		            </div>
		            {{/if}}
		            <div class="image">
		            
		              <img src="{{image}}">
		            </div>
		            <div class="content">
		              <span class="right floated">
		                <i class="heart like {{active}} icon"></i>
		                {{likes}} likes
		              </span>
		              <a href="/post/{{_id}}" class="postLink">
		              <i class="comment icon"></i>
		              {{commentsCount}} comments
		              </a>
		            </div>
		            <div class="extra content">
		              <!-- <div class="ui large transparent left icon input">
		                <i class="heart outline icon"></i>
		                <input type="text" placeholder="Add Comment...">
		              </div> -->
		              <!-- {{#if comments}} -->
		              {{>commentForm}}
		              {{#if comments}}
		                <div class="ui comments">
		                <!-- {{#with commentItem}} -->
		                  {{#each comments}}
		                   {{>commentItem}}
		                  {{/each}}
		                <!-- {{/with}} -->
		                </div>
		              {{/if}}
		            </div>
		          </div>
		      {{/each}}
		      
		    </div>
		  </div>
		{{/with}}


	{{/with}}

{{else}}
	{{>loading}}
{{/if}}
</template>