<template name="comments">
<form class="add_comment_form">
  <div class="row">
    <div class="input-field col s12">
      <textarea name="commentBody" class="materialize-textarea commentBody"></textarea>
      <label for="commentBody">Comment</label>
    </div>
  </div>
  <input type="submit" class="btn btn-flat js-add-comment" value="Add comment">
</form>
{{#if comments}}
<ul class="collection with-header">
  <li class="collection-header"><h6>Comments:</h6></li>
  {{#each comment in comments}}
  <li class="collection-item">
    {{comment.commentAuthor}} says:
    <br>
    <em>{{comment.commentBody}}</em>
    <br>
    <small>Posted on: <date>{{formatDate comment.commentDate}}</date></small>
  </li>
  {{/each}}
</ul>
{{/if}}
</template>