<template name="comments">
<form class="add_comment_form">
<div class="ui large transparent left icon input">
  <i class="heart outline icon"></i>
  <input type="text" placeholder="Add Comment..." name="body" class="body">
  <input type="submit" class="btn btn-flat hidden js-add-comment" value="Add comment">
</div>    
</form>
{{#with comments}}
  {{#if comments}}
  <div class="ui comments">
    {{#each comment in comments}}
    <div class="comment">
    <a href="" class="avatar"><img class="ui avatar image" src="{{getProfilePic(comment.userId)}}"></a>
    <div class="content">
      <a href="#" class="author">
       {{getUser(comment.userId)}}
      </a>
      <div class="metadata">
        <span class="date">{{comment.commentDate}}</span>
      </div>
      <div class="text">
       {{comment.body}}
      </div>
      <div class="actions">
        <a class="reply">Reply</a>
      </div>
    </div>

      <!-- wait to implement -->
     <!--  <div class="comment-meta">
        <span><a href="#">Like</a></span>
        <span><a href="#">Reply</a></span>
        <span><a href="#"><i class="material-icons comment-like">thumb_up</i> {{likes}}</a></span>
        <span class="js-to-comments"><a href="#">{{comments.length}} Replies</a></span>
        <span> - <date>{{formatDate comment.commentDate}}</date></span>
      </div> -->
    </div>
    {{/each}}
  </div>
  {{/if}}
 {{/with}}
</template>