<template name="comments">
  {{#if comments}}
  <ul class="collection comments">
    {{#each comment in comments}}
    <li class="collection-item">
    <div class="chip left">
      {{> avatar user=this shape="circle"}}
      {{comment.commentAuthor}} 
    </div>
      <span>{{comment.commentBody}}</span>
      <div class="comment-meta">
        <span><a href="#">Like</a></span>
        <span><a href="#">Reply</a></span>
        <span><a href="#"><i class="material-icons comment-like">thumb_up</i> {{likes}}</a></span>
        <span class="js-to-comments"><a href="#">{{comments.length}} Replies</a></span>
        <span> - <date>{{formatDate comment.commentDate}}</date></span>
      </div>
    </li>
    {{/each}}
  </ul>
  {{/if}}
  <form class="add_comment_form">
    <input type="text" placeholder="Leave a comment..." name="commentBody" class="commentBody">
    <input type="submit" class="btn btn-flat hidden js-add-comment" value="Add comment">
  </form>
</template>