<template name="navbar">
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo center">Social-umbrella</a>
        <ul class="mobile-menu">
          {{#if currentUser}}
          <li><a href="#">Hi, {{currentUser.profile.firstName}}</a></li>
          <!-- <li><a href="/profile">My profile</a></li> -->
          <li><a href="/posts">News feed</a></li>
          {{else}}
          <li><a href="/login" class="log-in">Sign in</a></li>
          <!-- <li><a href="/sign-up">Register</a></li> -->
          {{/if}}
          <li><a href="/contact">Contact</a></li>
          
        </ul>
        {{#if currentUser}}
        <ul class="mobile-menu right">
        <li><img class="user-profile-picture" src="{{currentUser.profile.profilePic}}" alt="{{currentUser.profile.profilePic}}"></li>
        <li><a href="#" class="log-out">Log out</a></li>
        <li>
            <a class="modal-trigger js-show-post-form" href="/add">Add post</a>
          </li>
        </ul>
        {{/if}}
      </div>
    </nav>
  </div>
</template>
