<template name="notifications">
<div class="ui simple dropdown item">
  Notifications <i class="dropdown icon"></i>
    <div class="menu">
    {{#if notificationCount}}
        {{#each notifications}}
          {{> notificationItem}}
        {{/each}}
      <div class="divider"></div>
      <a class="item" href="#">Profile</a>
      {{else}}
        <li class="item"><span>No Notifications</span></li>
      {{/if}}
    </div>
</div>
</template>

<template name="notificationItem">
    <a class="item" href="{{notificationPostPath}}">
      <strong>{{user}}</strong> commented on your post
  </a> 
</template>